---
import Header from "../components/Header.astro";
import Project from "../components/Parcial1Actividades.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Parcial 1",
    desc: [
      "Actividades introductorias a la seguridad informática"
    ],
    tech: ["Entrar a Parcial 1 "]
  },
  {
    title: "Parcial 2",
    desc: [
      "Desconocido"
    ],
    tech: ["Entrar a Parcial 2 "]
  },
  {
    title: "Parcial 3",
    desc: [
      "Desconocido"
    ],
    tech: ["Entrar a Parcial 3"]
  },
];
---

<!DOCTYPE html>
<html
>
  <Header title="Actividades - 181760" />

  <body>
    <div class="content">
        <Sidebar selectedItem="Actividades" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Lista de Actividades</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
    <div class="footerX">
      <footer>Rosales Ramírez Josué Emiliano - 181760</footer>
    </div>
  </body>
</html>
