---
import Header from "../components/Header.astro";
import Project from "../components/ComponentActividades.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Parcial 1",
    desc: [
      "Actividades introductorias a la seguridad informática"
    ],
    tech: ["Entrar a Parcial 1 "]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Certificación 7 - 181760" />

  <body>
    <div class="content">
        <Sidebar selectedItem="Certi" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1 style="font-size: 40px;">Certificado 7</h1>
            <h3>Hacker ético</h3>

            <div class="content-container">

              <div class="titulo-separador"></div>

              <div class="content-container">
                <h4>Reseña breve del certificado</h4>
                  <div>
                    <p>
                      El curso de Hacker Ético me permitió tener una visión más práctica y realista sobre cómo trabajan los profesionales de ciberseguridad para identificar vulnerabilidades antes de que sean explotadas por atacantes reales. Durante el proceso de formación aprendí sobre evaluación de vulnerabilidades, pruebas de penetración y metodologías utilizadas por hackers éticos para analizar sistemas y redes de manera controlada y autorizada. El enfoque dinámico del curso hizo que el aprendizaje fuera más interesante, ya que se trabajaba mediante escenarios y retos similares a situaciones reales. </br>
                      Uno de los aprendizajes más importantes fue comprender la mentalidad que debe tener un hacker ético para analizar riesgos y detectar posibles puntos débiles dentro de una infraestructura. También aprendí la importancia de actuar de manera ética y responsable al realizar pruebas de seguridad, además de conocer cómo se desarrollan evaluaciones de vulnerabilidades dentro de entornos empresariales.</br>
                      Uno de los retos que enfrenté fue adaptarme a pensar desde la perspectiva de un atacante y relacionar diferentes técnicas de reconocimiento y análisis con posibles vulnerabilidades reales. En algunos ejercicios fue necesario investigar conceptos adicionales y practicar varias veces para entender correctamente el funcionamiento de ciertas herramientas y metodologías.</br>
                      En cuanto a la aplicación práctica, considero que este curso es muy útil para fortalecer habilidades relacionadas con pentesting y análisis de seguridad. Personalmente, me gustó mucho porque combina teoría con simulaciones prácticas y ayuda a desarrollar una mentalidad más analítica frente a los riesgos de ciberseguridad. Además, me permitió comprender mejor la importancia de anticiparse a las amenazas antes de que causen daños reales dentro de una organización.
                    </p>
                  </div>
              </div>

              <div class="titulo-separador"></div>

              <div class="content-container">
                <h4>Badge original</h4>
                <img src="/assets/documentos/certi7Badge.png" class="mi-imagen" alt="Badge">
              </div>

              <div class="titulo-separador"></div>

              <a href="/assets/documentos/certi7Certificado.pdf" download class="btn-descarga">
                PDF del certificado
              </a>              
        </div>
      </nav>
    </div>



    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
    
    <div class="footerX">
      <footer>Rosales Ramírez Josué Emiliano - 181760</footer>
    </div>
  </body>
</html>
