---
import Header from "../components/Header.astro";
import Project from "../components/ComponentActividades.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Parcial 1",
    desc: [
      "Actividades introductorias a la seguridad informática"
    ],
    tech: ["Entrar a Parcial 1 "]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Certificación 5 - 181760" />

  <body>
    <div class="content">
        <Sidebar selectedItem="Certi" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1 style="font-size: 40px;">Certificado 5</h1>
            <h3>Administración de amenazas cibernéticas</h3>

            <div class="content-container">

              <div class="titulo-separador"></div>

              <div class="content-container">
                <h4>Reseña breve del certificado</h4>
                  <div>
                    <p>El curso de Administración de Amenazas Cibernéticas me permitió comprender de una manera más profunda cómo las organizaciones gestionan los riesgos y responden ante incidentes de seguridad. Durante el proceso de formación aprendí conceptos relacionados con cumplimiento normativo, gestión de riesgos, análisis de vulnerabilidades, respuesta a incidentes e investigaciones forenses.</p>
                    <p>Considero que fue un curso bastante importante porque mostró una visión más estratégica de la ciberseguridad y no solamente la parte técnica.</p>
                    <p>Uno de los aprendizajes más relevantes fue entender cómo se aplican políticas de seguridad y controles basados en estándares éticos, legales y regulatorios. También aprendí a evaluar vulnerabilidades en redes y sistemas, además de conocer herramientas utilizadas para pruebas de seguridad y análisis de amenazas. Otro tema que me pareció muy interesante fue el proceso de respuesta a incidentes, ya que permite comprender cómo actuar correctamente después de un ataque para reducir impactos y recuperar operaciones.</p>
                    <p>Uno de los retos que enfrenté durante el curso fue comprender algunos conceptos relacionados con marcos regulatorios y modelos de gestión de riesgos, debido a que requieren analizar escenarios desde un enfoque más administrativo y organizacional. Sin embargo, mediante ejemplos y actividades prácticas logré relacionar mejor estos temas con situaciones reales dentro de empresas y entornos tecnológicos.</p>
                    <p>En cuanto a la aplicación práctica, considero que este curso es muy útil para cualquier persona interesada en ciberseguridad, ya que enseña no solo a identificar amenazas, sino también a gestionarlas y responder correctamente ante incidentes. Personalmente, me gustó porque me ayudó a entender que la seguridad informática también depende mucho de la planificación, la prevención y la toma de decisiones dentro de una organización.</p>
                  </div>
              </div>

              <div class="titulo-separador"></div>

              <div class="content-container">
                <h4>Badge original</h4>
                <img src="/assets/documentos/certi5Badge.png" class="mi-imagen" alt="Badge">
              </div>

              <div class="titulo-separador"></div>

              <a href="/assets/documentos/certi5Certificado.pdf" download class="btn-descarga">
                PDF del certificado
              </a>              
        </div>
      </nav>
    </div>



    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
    
    <div class="footerX">
      <footer>Rosales Ramírez Josué Emiliano - 181760</footer>
    </div>
  </body>
</html>
