---
import Header from "../components/Header.astro";
import Project from "../components/ComponentActividades.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Parcial 1",
    desc: [
      "Actividades introductorias a la seguridad informática"
    ],
    tech: ["Entrar a Parcial 1 "]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Certificación 6 - 181760" />

  <body>
    <div class="content">
        <Sidebar selectedItem="Certi" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1 style="font-size: 40px;">Certificado 6</h1>
            <h3>Carrera profesional de Analista Junior en Ciberseguridad</h3>

            <div class="content-container">

              <div class="titulo-separador"></div>

              <div class="content-container">
                <h4>Reseña breve del certificado</h4>
                  <div>
                    <p>El curso Carrera Profesional de Analista Junior en Ciberseguridad de Cisco me permitió desarrollar una visión más completa sobre el área de la ciberseguridad y las funciones que desempeña un analista dentro de una organización. Durante el proceso de formación adquirí conocimientos relacionados con redes, análisis de amenazas, protección de sistemas, gestión de riesgos, respuesta a incidentes y hacking ético. Además, el contenido combinó teoría con actividades prácticas y laboratorios que ayudaron a comprender cómo se aplican estos conceptos en escenarios reales.</p>
                    <p>Uno de los aprendizajes más importantes fue entender cómo identificar vulnerabilidades y amenazas que pueden afectar la seguridad de una red o sistema, así como las medidas necesarias para prevenir ataques y responder ante incidentes. También aprendí sobre monitoreo de seguridad, análisis de riesgos y buenas prácticas para proteger la información y los dispositivos conectados a una red. Considero que el enfoque progresivo de la ruta ayudó bastante a relacionar temas técnicos con situaciones reales dentro del entorno laboral.</p>
                    <p>Uno de los retos que enfrenté fue adaptarme a la cantidad de conceptos técnicos y herramientas nuevas que se manejan dentro de la ciberseguridad, especialmente en temas relacionados con análisis de amenazas y redes. Sin embargo, mediante la práctica constante y los laboratorios fue posible reforzar los conocimientos y comprender mejor los procedimientos utilizados por los profesionales del área.</p>
                    <p>En cuanto a la aplicación práctica, considero que este curso brinda bases muy sólidas para desarrollarse en el área de ciberseguridad. Personalmente, me pareció una experiencia muy interesante porque permitió comprender tanto la parte defensiva como el análisis de ataques, ayudándome a fortalecer habilidades técnicas y analíticas importantes para mi formación profesional.</p>
                  </div>
              </div>

              <div class="titulo-separador"></div>

              <div class="content-container">
                <h4>Badge original</h4>
                <img src="/assets/documentos/certi6Badge.png" class="mi-imagen" alt="Badge">
              </div>

              <div class="titulo-separador"></div>

              <a href="/assets/documentos/certi6Certificado.pdf" download class="btn-descarga">
                PDF del certificado
              </a>              
        </div>
      </nav>
    </div>



    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
    
    <div class="footerX">
      <footer>Rosales Ramírez Josué Emiliano - 181760</footer>
    </div>
  </body>
</html>
