---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---


<!DOCTYPE html>
<html
>
  <Header title="Portafolio Digital" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>CNO V - Seguridad Informática<br /><br />UPSLP - 8vo Semestre</h1> 
              <p class="lead">
                <b>Presentación del portafolio</b> <br>
                  Este portafolio digital tiene como propósito documentar y evidenciar mi proceso de aprendizaje a lo largo del curso. Está enfocado en temas de seguridad informática, incluyendo pruebas de penetración y análisis de vulnerabilidades, mostrando el desarrollo de habilidades técnicas y analíticas. El portafolio funciona como una evidencia clara del progreso, la práctica y la comprensión adquirida durante el curso. <br> <br>

                <b>Perfil del estudiante</b> <br>
                  Estudiante de ingeniería en tecnologías de la información, con interés en la ciberseguridad y el fortalecimiento de competencias prácticas orientadas a la protección y evaluación de sistemas informáticos.
              </p>
            </div>
            <a href="mailto:181760@upslp.edu.mx	" class="button w-button">Enviar correo a 181760</a>
          </main>

          <div class="projects-section">
            <!-- Herramientas -->
            <div class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container">
                  <img src="./assets/browser.svg" loading="lazy" alt="" class="projects-category-image" />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Herramientas utilizadas</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">Technologies &amp; tools</div>
                  <div class="chips-container chips-container-small-width">
                    <div class="single-chip small-chip">Framework Astro</div>
                    <div class="single-chip small-chip">GitHub Pages</div>
                    <div class="single-chip small-chip">HTML</div>
                    <div class="single-chip small-chip">Javascript</div>
                    <div class="single-chip small-chip">CSS</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin Herramientas -->
            

          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>