---
import Header from "../components/Header.astro";
import Project from "../components/ComponentActividades.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Parcial 1",
    desc: [
      "Actividades introductorias a la seguridad informática"
    ],
    tech: ["Entrar a Parcial 1 "]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Actividad 3 - Parcial 1 - 181760" />

  <body>
    <div class="content">
        <Sidebar selectedItem="PF01" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1 style="font-size: 40px;">Actividad 3: Interpretación y traducción de políticas de filtrado en iptables </h1>
            <a href="/public/assets/documentos/181760_act03.pdf" download class="btn-descarga">
              Exportar a PDF
            </a>
            <div class="titulo-separador"></div>

            <div class="content-container">
              <h4>Introducción</h4>
                  <p>Esta actividad es sobre la comprensión que tuve durante la clase y se enfoca en la interpretación y traducción de políticas de filtrado en iptables. Tales como relacionar conceptos, rellenar palabras y la interpretacion de reglas (en oraciones) para traducirlas a sus codigos iptables</p>
            </div>

            <div class="titulo-separador"></div>

            <div class="content-container">
              <h4>1. Completa los espacios conforme se explica el flujo del paquete.</h4>
                  <p class="oracion">Cuando un paquete llega al sistema, primero pasa por una TABLA, después por una CADENA y finalmente se ejecuta una REGLA</p>
            </div>

            <div class="titulo-separador"></div>

            <div class="content-container">
              <h4>2. Relaciona cada tabla con su propósito principal</h4>
                  <table class="cronologia">
                    <thead>
                      <th>Tabla</th>
                      <th>Propósito principal</th>
                      <th>Ejemplo de uso</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>FILTER</td>
                        <td>Filtrar paquetes</td>
                        <td>permitir tráfico</td>
                      </tr>
                      <tr>
                        <td>NAT</td>
                        <td>Traducción de direcciones</td>
                        <td>Asignación de IP's</td>                      
                      </tr>
                      <tr>
                        <td>MANGLE</td>
                        <td>Modificación de paquetes</td>
                        <td>Cambia cabeceras</td>
                      </tr>
                      <tr>
                        <td>RAW</td>
                        <td>Seguimiento de paquetes y conexiones</td>
                        <td>Auditoría</td>
                      </tr>
                      <tr>
                        <td>SECURITY</td>
                        <td>Etiquetas de seguridad</td>
                        <td>Aplica reglas a la venida de paquetes</td>
                      </tr>
                    </tbody>
                  </table>    
            </div>

            <div class="titulo-separador"></div>

            <div class="content-container">
              <h4>3. Anatomía de un comando iptables:</h4>
                  <p class="oracion">iptables -A INPUT -p tcp -m MULTIPORT --dports 80,443 -j ACCEPT</p>
            </div>

            <div class="titulo-separador"></div>

            <div class="content-container">
              <h4>4. Este comando permite:</h4>
                  <p class="oracion">Acepta el tráfico de los puertos 80 y 443</p>
            </div>

            <div class="titulo-separador"></div>

            <div class="content-container">
              <h4>5. Variables y opciones comunes</h4>
                  <h5>a) Limitar intentos por minuto</h5>
                    <p class="oracion">--limit</p>
                  <h5>b) Filtrar por IP de origen</h5>
                    <p class="oracion">-s o -source</p>
                  <h5>c) Ver sólo números, sin DNS (ni resolución de puertos)</h5>
                    <p class="oracion">--list -n</p>
                  <h5>d) Ver reglas con contadores (paquetes y bytes)</h5>
                    <p class="oracion">--list -v</p>

            </div>

            <div class="titulo-separador"></div>

            <div class="content-container">
              <h4>6.¿Qué hace esta regla?</h4>

                <h5>iptables -A INPUT -i eth0 -p tcp -m multiport --dports 22, 80, 443 -m state --state NEW, ESTABLISHED -j ACCEPT</h5>
                  <p class="oracion">Acepta el tráfico desde la interfaz de entrada de eth0 de los puertos 22, 80, 443 donde su estado de conexión es nueva o establecida.</p>
            </div>

            <div class="titulo-separador"></div>

            <div class="content-container">
              <h4>7. Permitir tráfico HTTP entrante</h4>
                <p class="oracion">iptables -A INPUT -p tcp --dport 80 -j ACCEPT</p>
            </div>

            <div class="titulo-separador"></div>

            <div class="content-container">
              <h4>8. Permitir todo el tráfico saliente</h4>
                <p class="oracion">iptables -A OUTPUT -j ACCEPT</p>
            </div>

            <div class="titulo-separador"></div>

            <div class="content-container">
              <h4>9. Permitir SSH solo desde la IP 192.168.1.50</h4>
                <p class="oracion">iptables -A INPUT -p tcp --dport 22 -s 192.168.1.50 -j ACCEPT</p>
            </div>

            <div class="titulo-separador"></div>
            
            <div class="content-container">
              <h4>10. Permitir tráfico TCP entrante a puertos 80 y 443 solo si es conexión establecida o relacionada</h4>
                <p class="oracion">iptables -A INPUT -p tcp -m multiport 80,443 -m state ESTABLISHED, RELATED</p>
            </div>

            <div class="titulo-separador"></div>
            
            <div class="content-container">
              <h4>11. Permitir tráfico TCP entrante por eth0 a 22,80 y 443, registrar intentos y permitir solo NEW y ESTABLISHED</h4>
                <p class="oracion">iptables -A INPUT -i eth0 -p tcp -m multiport --dports 22,80,443 -m state --state NEW, ESTABLISHED -j ACCEPT, LOG --log -prefix "Intento: "</p>
            </div>

            <div class="content-container">
              <h4>Conclusión</h4>
                  <p>En esta actividad se pudo comprender la estructura de las reglas de iptables, así como su sintaxis y opciones comunes. Se aprendió a interpretar reglas en lenguaje natural y traducirlas a comandos iptables, lo cual es fundamental para configurar políticas de filtrado efectivas en un sistema de seguridad y defensa.</p>
            </div>
              <a href="/public/assets/documentos/181760_act03.pdf" download class="btn-descarga">
                Exportar a PDF
              </a>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
    <div class="footerX">
      <footer>Rosales Ramírez Josué Emiliano - 181760</footer>
    </div>
  </body>
</html>
